/* Navigation bar */
.topnav {
    overflow: hidden;
    background-color: #20222b;
}

#logo {
    float: left;
    color: #1e1e1e;
    text-align: center;
    padding: 0;
    text-decoration: none;
    font-size: 17px;
    font-family: DM Sans, sans-serif;
}

#logo-img {
    width: 360px;
    height: 110px;
    margin: 0;
    padding-left: 8px;
    padding-top: 8px;
    overflow: visible;
}


.topnav a {
    float: left;
    color: #d0d2da;
    text-align: center;
    padding: 14px 16px;
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 0.5px;
    font-family: DM Sans, sans-serif;
}

.topnav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 30%;
    color: #a50000;
}


.topnav-right {
    float: right;
    position: absolute;
    right: 0;
    top: 38px;
}

/* Page elements*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #20222b;
}

p {
    line-height: 2.5;
    letter-spacing: 2px;
    font-size: 18px;
    font-family: DM Sans, sans-serif;
    text-align: justify;
    align-content: center;

}

h1 {
    width: 80%;
    margin: 96px 40px 0 116px;
    font-size: 44px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Tilt Warp, sans-serif;
    text-align: left;
}

img {
    height: auto;
}

h6 {
    font-size: 18px;
    margin: unset;
    font-family: Tilt Warp, sans-serif;
    text-align: left;
}


/* First section of the page */
.section {
    background-color: #787a83;
    align-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
}

.section-left {
    float: left;
    width: 60%;
}

.section p {
    width: 80%;
    margin-top: 32px;
    margin-left: 116px;
}

.section-right {
    float: right;
    width: 40%;
    text-align: center;
}

.atramentar-img {
    width: 350px;
    padding-top: 80px;
    border-radius: 30% 70% 70% 30% / 64% 49% 51% 36%
}

.bomb-img {
    width: 500px;
    padding-top: 80px;
    margin: auto;
    border-radius: 30% 70% 70% 30% / 64% 49% 51% 36%
}

#section2 {
    background-color: #d0d2da;
    color: #1e1e1e;
}


.section-left2 {
    float: left;
    width: 40%;
}


.section-right2 {
    float: right;
    width: 60%;
}

/* Footer */
#footer {
    background-color: #20222b;
    height: 300px;
    color: #d0d2da;
    margin-bottom: 20px;
}

/* Brief description of Luke */
.author-img {
    width: 100px;
    border-radius: 100%;
    padding-left: 32px;
}

.me-img-container {
    float: left;
    width: 10%;
    margin-top: 80px;

}

.me-text {
    float: left;
    width: 40%;
    height: fit-content;
    align-content: center;
    padding: 90px 0 0 0;
}

.me p {
    width: 80%;
    font-size: 12px;
    margin: auto;
}

.me h6{
    margin: auto;
}

/* Contact information */
.footer-contact {
    float: left;
    width: 50%;
    margin: auto;

}

.footer-contact p {
    width: 80%;
    text-align: right;
    padding-right: 20px;
}

.footer-contact img {
    width: 40px;
    height: 40px;
    padding: 10px;
}

.contact-icons {
    height: 135px;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    padding: 90px 90px 0 90px;
}

.contact-icons a {
    margin-right: 20px; /* Add space between each icon */
}

.contact-icon {
    padding: 20px;
}

/* Website author */
.website-author {
    align-content: center;
    text-align: center;
    width: 100%;
    color: transparent;
    animation: effect 7s linear infinite;
    font-weight: bold;
    margin-top: 40px;
    background-color: #2b2c38;
    border-top: 4px solid #d0d2da;



}

.website-author p {
    text-align: center;
    margin: unset;
}
.janelle{
    font-size: 16px;
    padding-top: 12px;
}

.janelle a {
    text-align: center;
    color: transparent;
    animation: effect 7s linear infinite;
    text-decoration: none;
}

.github {
    text-align: center;
    color: transparent;
    animation: effect 7s linear infinite;
    font-weight: normal;
    font-size: 14px;
    padding-bottom: 16px;
}

.github a {
    text-decoration: underline;
    color: transparent;
    animation: effect 7s linear infinite;
}

@keyframes effect {
    0% {
        color: #e38585;
    }
    20% {
        color: #d7ac82;
    }
    40% {
        color: #e0e08e;
    }
    60% {
        color: #9cd39c;
    }
    80% {
        color: #8888e0;
    }
    100% {
        color: #d39ee0;
    }
}


